@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@layer base {
  html {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

.swiper-button-next svg,
.swiper-button-prev svg {
  color: red; /* ungu */
}

/* HOVER */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: red;
}
